
<div class="display-1 top-box text-center">
  <div class="text-center display-1">SmartAgri</div>
  <i class="navbar-brand p-3"><%= image_tag('logo3.png', :size => '150x150') %></i>
</div>
<div class="container-box mt-5">
  <div class="row">
    <div class="col-md-10 mx-auto text-center pt-5">
      <h1 class="title text-center">About</h1>
      <h5 class="title text-center">~ SmartAgriとは ~</h5>
      <p class="text-center mt-5 pb-3">当アプリは農業用の求人マッチングサイトとなっております。<br>
      　　隙間時間を利用したい方、農業をしてみたい方等<br>様々なニーズを持った会員様に利用していただきたいと思っております。</p>
    </div>

  </div>

</div>
