<% provide(:title, "#{@genre.name}一覧") %>
<h2 class="job_offer-headlinehead-line title_h2 text-center"><%= @genre.name %>一覧</h2>
</span>
<div class="row">
  <div class="col-xs-3 job_offer-index">
    <%#= render "layouts/genre_search", job_offers: @job_offers %>
  </div>
  <div class="col-xs-9 job_offer-index">
      <div class="clearfix job_offer-box">
        <% @genres.first(6).each do |job_offer| %>
          <%= render "user/job_offers/job_offers_each", job_offer: job_offer %>
        <% end %>
      </div>
     <div class="text-center"><%#= paginate(@genres) %></div>
  </div>

</div>