/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: #6c6b6b;
}

header {
  background-color: #f0fff0;
}

header nav{
  height: 95px;
  width: 100%;

}

html {
  height: 100%;
}

body{
  padding-top: 16vh;
  position: relative; /*相対位置*/
  background-image: image-url('haikei4.jpg');
  background-size: cover;
  background-attachment: fixed;         /* 固定 */
  background-position: center center;   /* 縦横中央 */
  height: 100%;
}

.container-box{
  background-color: rgba(255, 250, 205, 0.7);
}


.display-1{
  color: #e0ffff;
}

.top-box{
  font-family: 'Corben', cursive;
}

footer {
  background-color: rgba(120, 100, 39, 0.8);
  width: 100%;
}

.container footer, .container header{
  bacground-color:rgba(255, 255, 255, 0);
}


.reviews,.blogs{
  display: flex;
  margin: 5px;
  padding: 10px;
  background-color: #ffffff;
}

.blog_box {
  width: 30vh;
  margin: 0 auto;
}

.rate-star{
  display: inline-block;
}

.reviews_box {
  width: 30vh;
  margin: 0 auto;
}

.pagination {
  justify-content: center;
}

.intro-box{
    background-color: #faebd7;

}

table{
  border: 2px solid #000;
  border-collapse: collapse;

}

table th{
  background-color: #ffdead;
  color: #6c2463;
  border: 1px solid #000;

}

table td{
  background-color: #faebd7;
  border: 1px solid #000;
  word-break: break-all;
}

