<div class="row">

    <div class="col-md-8 offset-md-1">
     <h2>farmers</h2>

<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% @farmers.each do |farmer| %>
  <tbody>
    <tr>
      <td><%#= attachment_image_tag farmer, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size: '40x40' %></td>
      <td><%= farmer.first_name %></td>
      <td><%#= "フォロー数: #{farmer.follower.count}" %></td>
      <td><%#= "フォロワー数: #{farmer.followed.count}" %></td>
      <td>
        <%# unless farmer == current_farmer %>
        <%# if current_farmer.following?(farmer) %>
        <%#= link_to 'フォロー外す', unfollow_path(farmer.id), method: :POST %>
        <%# else %>
        <%#= link_to 'フォローする', follow_path(farmer.id), method: :POST %>
        <%# end %>
        <%# end %>
      </td>
      <td><%= link_to 'Show', users_farmer_path(farmer.id) %></td>
    </tr>
  </tbody>
  <% end %>
</table>

    </div>
  </div>